<div class="dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Lanches
    </a>

    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>
                <a class="dropdown-item"
                   asp-area=""
                   asp-controller="Lanche"
                   asp-action="List"
                   asp-route-categoria="@categoria.categoriaNome">
                    @categoria.categoriaNome
                </a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item"
               asp-area=""
               asp-controller="Lanche"
               asp-action="List"
               asp-route-categoria="">
                Todos os Lanches
            </a>
        </li>
    </ul>
</div>