<br />
<div class="container mt-4">
    <div class="jumbotron bg-dark text-light p-4 rounded shadow-sm text-center">
        <h2 class="text-warning mb-3">Acesso não autorizado</h2>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-warning btn-lg">
            Voltar à Home Page
        </a>
    </div>
</div>
