@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <a class="nav-link text-dark" asp-controller="CarrinhoCompra" asp-action="Index">
        Carrinho <span class="badge-secondary">@Model.CarrinhoCompra.CarrinhoCompraItens.Count</span>
    </a>
}