<div class="container">
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sujestão fale conosco
        </p>
        <p>
            <h5><email endereco="jaopedrospinda@gmail.com" conteudo="Enviar um E-mail"></email></h5> <!--Aqui estou utilizando a TagHelper criada, neste caso as suas propriedades são passadas dentro da classe de uma forma nomeada-->
            <br />
            <h5>(11) 99999-9999</h5>
            <br />
            <h5>Av. Juscelino Kubichek 1000 - 03492-112 - São Paulo</h5>
        </p>
    </div>
</div>
